<?php var name =  localStorage.getItem('name'); ?>
<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../css/login.css">

      <title>Projet CyberChimera</title>
   </head>

   <body>
      <header class="header">
         <nav>
            <ul class="navbar">
               <li><a href="acceuil">Accueil</a></li>
               <li><a href="login">Connexion</a></li>
               <li><a href="register">Inscription</a></li>
               <li><a href="profil">Profil</a></li>
               <li><form id="logout"><button class="button__logout" id="logout" role="button" type="submit">Déconnexion</button></form></li>
            </ul>
         </nav>
      </header>

      <div class="login">
         <img src="../img/font_page_login.png" alt="login image" class="login__img">

         <form action="" class="login__form" id="login__form">
            <h1 id="login__title" class="login__title">Bonjour </h1>

            <div class="profil">
                <p id="email">Email : <?php echo $email; ?> </p>
                <br>
                <p id="name">Pseudo : </p>
            </div>


         </form>
      </div>
      
      <!--=============== MAIN JS ===============-->
      <script src="../js/profile.js"></script>
      <script src="../js/main.js"></script>
   </body>
</html>