
<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../css/login.css">

      <title>Projet CyberChimera</title>
   </head>

   <body>
      <header class="header">
         <nav>
            <ul class="navbar">
               <li><a href="acceuil">Accueil</a></li>
               <li><a href="login">Connexion</a></li>
               <li><a href="register">Inscription</a></li>
               <li><a id="profil" href="profil">Profil</a></li>
               <li><a id="interface" href="games">Games</a></li>
            </ul>
         </nav>
      </header>

      <div class="login">
         <img src="../img/fond_page_login.png" alt="login image" class="login__img">

         <form action="" class="login__form" id="login__form">
            <h1 class="login__title">Bienvenue à CyberChimera</h1>


         </form>
      </div>
      
      <!--=============== MAIN JS ===============-->
      <script src="../js/displayProfile.js"></script>

   </body>
</html>