
<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../css/interface.css">

      <title>Projet CyberChimera</title>
   </head>

   <body>
      <script type="text/javascript">  
         var sessionName = localStorage.getItem('name');
         if (sessionName == "") {
            window.location.href = 'acceuil';
         }
      </script>
      <header class="header">
         <nav>
            <ul class="navbar">
               <li><a href="acceuil">Accueil</a></li>
               <li><a href="login">Connexion</a></li>
               <li><a href="register">Inscription</a></li>
               <li><a id="profil" href="profil">Profil</a></li>
               <li><a id="interface" href="games">Games</a></li>
            </ul>
         </nav>
      </header>

      <div class="login">
         <img src="../img/font_page_login.png" alt="login image" class="login__img">

         <form action="" class="login__form" id="login__form">

            <a id="game "href="game1" class="login__button1">Game 1</a>
            <a id="game2" href="game2" class="login__button2">Game 2</a>



         </form>
      </div>
      
      <!--=============== MAIN JS ===============-->
      <script src="../js/interface.js"></script>

   </body>
</html>