
<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../css/interface.css">

      <title>Projet CyberChimera</title>
   </head>

   <body>
      <script type="text/javascript">  
         var sessionName = localStorage.getItem('name');
         if (sessionName == "" || sessionName == null) {
            window.location.href = 'acceuil';
         }
      </script>
      <header class="header">
         <nav>
            <ul class="navbar">
               <li><a href="acceuil">Accueil</a></li>
               <li><a href="login">Connexion</a></li>
               <li><a href="register">Inscription</a></li>
               <li><a id="profil" href="profil">Profil</a></li>
               <li><a id="interface" href="games">Games</a></li>
            </ul>
         </nav>
      </header>

      <div class="login">
         <img src="../img/fond_page_games.png" alt="login image" class="login__img">

         <form action="" class="login__form" id="login__form">

            <a id="game1"href="game1" class="login__button1">Game 1</a>
            <a id="game2" href="game2" class="login__button2">Game 2</a>
            <a id="game3" href="game3" class="login__button3">Game 3</a>
            <a id="game4" href="game4" class="login__button4">Game 4</a>
            <a id="game5" href="game5" class="login__button5">Game 5</a>
            <a id="game6" href="game6" class="login__button6">Game 6</a>
            <a id="game7" href="game7" class="login__button7">Game 7</a>

         </form>
      </div>
      
      <!--=============== MAIN JS ===============-->
   </body>
</html>