<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game</title>
    <link rel="stylesheet" href="../css/game.css">
</head>
<body>
    <header class="header">
        <nav>
           <ul class="navbar">
              <li><a href="acceuil">Accueil</a></li>
              <li><a href="login">Connexion</a></li>
              <li><a href="register">Inscription</a></li>
              <li><a id="game" href="game">Game</a></li>
              <li><a id="profil" href="profil">Profil</a></li>
           </ul>
        </nav>
     </header>
     
    <script src="../js/game.js"></script>
</body>
</html>