<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game 3</title>
    <link rel="stylesheet" href="../css/game3.css">
</head>
<body>
    <header class="header">
        <nav>
           <ul class="navbar">
              <li><a href="acceuil">Accueil</a></li>
              <li><a href="login">Connexion</a></li>
              <li><a href="register">Inscription</a></li>
              <li><a id="interface" href="games">Games</a></li>
              <li><a id="profil" href="profil">Profil</a></li>
           </ul>
        </nav>
     </header>
     
    <script type="text/javascript">  
        var sessionName = localStorage.getItem('name');
        if (sessionName == ""|| sessionName == null) {
           window.location.href = 'acceuil';
        }
     </script>
    <h3>Game 3</h3>
    <canvas id="stage" height="400" width="520"></canvas>
        <script src="../js/game3.js"></script>
</body>
</html>