<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game 2</title>
    <link rel="stylesheet" href="../css/game2.css">
</head>
<body>
    <header class="header">
        <nav>
           <ul class="navbar">
              <li><a href="acceuil">Accueil</a></li>
              <li><a href="login">Connexion</a></li>
              <li><a href="register">Inscription</a></li>
              <li><a id="game" href="game">Game</a></li>
              <li><a id="game2" href="game2">Game 2</a></li>
              <li><a id="profil" href="profil">Profil</a></li>
           </ul>
        </nav>
     </header>
     

    <canvas id="canvas"></canvas>

    <p>
      Use the left, right and up arrow keys to move.
    </p>
    


    

    <script src="../js/game2.js"></script>
</body>
</html>